*{
    margin: 0;
    padding: 0;
}

header{
    padding: 1em;
    text-align: center;
    background-color: antiquewhite;
    border-bottom: 3px solid #2596be;
}

#logo{
    height: 100px;
    width: 100px;
    display: inline-block;

    margin-left: auto;
    margin-right: auto;
}

#heading{
    font-family:Impact,'Arial Narrow Bold', sans-serif;
    display: inline-block;
    /* font-weight: bold; */

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;  
    overflow: hidden;
    background-color: #333;
    width: 100%;
    border-bottom: 3px solid #2596be;    

}
li{
    float: left;
    /* display: inline; */

}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 1em 4.5em;
    text-decoration: none;
}

li a:hover{
    background-color: #5bb6eb;
}

.midSection{
    width: 100%;
    background-color: #c8e6d0;
    float: left;
}


.sidePanel{
    padding: 1%;
    border-right: 1px solid #333;
    width: 18%;
    float: left;
    text-align: center;
    background-color: #c8dece;
}

.content{
    padding: 1%;
    border-right: 1px solid #333;
    width: 48%;
    float: left;
    text-align: center;
    background-color: #c8dece;
    
}

.news{
    padding: 1%;
    width: 27.8%;
    float: left;
    text-align: center;
    background-color: #c8e6d0;

}

footer{
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    overflow: hidden;
}

#foot{
    padding: 1em;
}