*{
    margin: 0;
    padding: 0;
}

header{
    padding: .3em;
    background-color: white;
    display: flex;
    justify-content: center;
}
#heading{
    font-family:Impact,'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}

#logo{
    height: 100px;

}

ul{
    width: 100%;
    list-style-type: none;  
    background-color: #333;
    width: 100%;   
    display: flex;
    justify-content: center;
}

li a{
    display: flex;
    flex-grow: 1;
    color: white;

    padding: 1em 4.5em;
    text-decoration: none;
}

li a:hover{
    background-color: cadetblue;
}

.midsection{
    display: flex;
}

.miditem{
    height: 1200px;
    width: 100px;
    background: blue;
    color: #fff;
    margin: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.miditem:nth-of-type(1){
    flex-grow: 1;
}
.miditem:nth-of-type(2){
    flex-grow: 2;
}
.miditem:nth-of-type(3){
    flex-grow: 1;
}

footer{
    background-color: #333;
    color: white;
    padding: 1em;
    justify-content: center;
    text-align: center;
}