/* p {
    color: blue;

} */

/* div{
    height: 400px;
    width: 600px;
    border: 9px dotted black;

} */

.box{
    height: 300px;
    width: 400px;
    background-color: brown;


}

.box p{
    position: absolute;
    top: 80px;
    left: 100px;
}