*{
    margin: 0;
    padding: 0;
}

#logo{
    height: 100px;
    width: 100px;
}

header{
    text-align: center;
    justify-content: center;
    padding: 1em;
}

#heading{
    text-align: center;
    font-family:Impact,'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    margin-top: 20px;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

li a {
    background-color: darkorange;
    text-decoration: none;
    color: black;
    padding: 1em 3em;
    margin: 1px;
}

li a:hover:not(.active){
    background-color: bisque;
}

.active{
    background-color: aquamarine;
}

.main{
    text-align: center;
    margin-top: 3em;
    padding: 1em;
}

.content{
    margin: 1em 20em;
    padding: 2 em;
}

.flower{
    width: 500px;
}

.feather{
    width: 500px;
    height: 382px;
    padding-left: 1em;
}
.midimage{
    display: flex;
    padding: 2em;
}

.ocean{
    width: 500px;
}

.grass{
    width: 500px;
    height: 382px;
    padding-left: 1em;
}

.bucket{
    width: 500px;
}

.rose{
    width: 500px;
    height: 382px;
    padding-left: 1em;
}

footer{
    background-color: #333;
    color: white;
    padding: 1em;
    justify-content: center;
    text-align: center;
}

.contact{
}

.textmsg{

}

.mail{
    display: flex;
    justify-content: center;
}

#msg{
    padding-bottom: 3em;
}