.parent{
    height: 350px;
    width: 600px;
    background-color:red;
    position: relative;
    border: 3px solid black;
}

.child1{
    height: 350px;
    width: 300px;
    background-color: blue;
    float: left;
}
.child2{
    height: 350px;
    width: 300px;
    background-color: aqua;
    float: left;
}